<!--Introduction-->
<section id="about" class="introduction scrollto">
  <div class="row clearfix">
    <div class="col-3">
      <div class="section-heading">
        <h3>SUCCESS</h3>
        <h2 class="section-title">How our website is useful</h2>
        <p class="section-subtitle">
          Blogging allows you to share information about your business and its services but it also allows you to share opinions and thoughts on certain topics. Blogging is a great way to create a personality for your company and makes your business more credible approachable.
        </p>
      </div>
    </div>

    <div class="col-2-3">
      <!--Icon Block-->
      <div class="col-2 icon-block icon-top wow fadeInUp" data-wow-delay="0.1s">
        <!--Icon-->
        <div class="icon">
          <i class=""></i>
        </div>
        <!--Icon Block Description-->
        <div class="icon-block-description">
          <h4>Share your passion</h4>
          <p>
            Whether it’s a passion for fishing, photography, or marketing, blogging is an excellent way to share that passion. When you blog about something you are passionate about, it opens the door to connecting with those around the world who speak your language and have the same passions.
          </p>
        </div>
      </div>
      <!--End of Icon Block-->

      <!--Icon Block-->
      <div class="col-2 icon-block icon-top wow fadeInUp" data-wow-delay="0.3s">
        <!--Icon-->
        <div class="icon">
          <i class="fa fa-bolt fa-2x"></i>
        </div>
        <!--Icon Block Description-->
        <div class="icon-block-description">
          <h4>Educate others</h4>
          <p>
            If you are someone who loves to teach, blogging can be a platform for teaching people who have an interest in your areas of expertise. Through blogging, you will not only teach others, but you will also teach yourself more about the topic. 
          </p>
        </div>
      </div>
      <!--End of Icon Block-->

      <!--Icon Block-->
      <div class="col-2 icon-block icon-top wow fadeInUp" data-wow-delay="0.5s">
        <!--Icon-->
        <div class="icon">
          <i class="fa fa-tablet fa-2x"></i>
        </div>
        <!--Icon Block Description-->
        <div class="icon-block-description">
          <h4>Improve your writing skills</h4>
          <p>
            The more you do something, the better you will become at that skill. Writing is no exception. Even if you don’t set out to study writing, your writing will improve the more you do it. 
          </p>
        </div>
      </div>
      <!--End of Icon Block-->

      <!--Icon Block-->
      <div class="col-2 icon-block icon-top wow fadeInUp" data-wow-delay="0.5s">
        <!--Icon-->
        <div class="icon">
          <i class="fa fa-rocket fa-2x"></i>
        </div>
        <!--Icon Block Description-->
        <div class="icon-block-description">
          <h4>Connect with new people</h4>
          <p>
            One of the greatest benefits of blogging is connecting with others. You don’t just grow some followers on social networks or email lists. You build genuine relationships. You make friends with people you wouldn’t have met otherwise.


          </p>
        </div>
      </div>
      <!--End of Icon Block-->
    </div>
  </div>
</section>
<!--End of Introduction-->
